{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    
	<center>
	
		<h4>
	Правильне харчування - тренд сучасного суспільства, прихильного здорового способу життя. Про правильне харчування написано сотні книг і тисячі статей, однак, всі вони, як правило, говорять про загальні принципи і рекомендації дієтологів.
		</h4>
		<h4>
		Правильне харчування – модна тенденція в житті людей, що дозволяє смачно харчуватися і при цьому бути здоровим, а тіло підтримувати у формі. Але міняти спосіб життя треба поступово, щоб не зашкодити.
		</h4>

		<h3>Чому варто перейти на правильне харчування?
		</h3>
		<h4>
			Часта причина, по якій люди переходять на правильне харчування – прагнення набути бажаних розмірів. Згідно зі статистичними даними, 54% чоловіків і 59% жінок страждають від надмірної ваги. В основному вона з’являється із-за негативних харчових звичок, неправильного режиму харчування, вживання у великій кількості калорійних продуктів, низької фізичної активності.
		</h4>
		<h5><i>
	На цьому сайті ми наведемо конкретні приклади смачних і корисних рецептів, які ви без зусиль зможете приготувати у себе вдома.
		</i></h5>
		
	 <img align = "center" src="{% static 'images/mainn.jpg' %}" alt=""/>
	 
	</center>
{% endblock %}

{% include 'blog/pagesfooter.html' %}